.hero {
  @include hero-height;

  position: relative;
  overflow: hidden;
  background: $dark-grey;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0;

  &__bg {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150%;
    background-position-y: center !important;
    position: absolute;
    top: -25%;
    left: 0;
  }

  &__bg.loaded + &__overlay {
    opacity: 1;
    transition: opacity 1s;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 75%);
  }

  .carousel-cell {
    width: 100%;
    height: 100%;
  }

  &__carousel-cell.is-selected {
    h2,
    p,
    .hero__cta-wrap {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h2 {
    font-family: $font-primary;
    font-size: 48px;
    line-height: 1.15;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: $white;
    margin: 0;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(25px);
    transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s;

    @include md {
      font-size: 60px;
    }

    @include lg {
      font-size: 90px;
      margin: 0;
    }
  }

  p {
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: normal;
    color: $white;

    @include sm {
      font-size: 24px;
      line-height: 36px;
    }

    opacity: 0;
    transform: translateY(25px);
    transition: transform 0.5s ease 0.75s, opacity 0.5s ease 0.75s;
  }

  &__slide {
    @include hero-height;

    width: 100vw;
    display: flex;
    max-width: $page-inner-width;
    padding: 0 $page-gutter 125px;
    margin: 0 auto;

    @include md {
      padding: 0 20px 107px;
    }
  }

  &__slide-content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-top: $header-height;

    @include md {
      flex-direction: row;
      padding-top: 0;
    }
  }

  &__slide-left {
    width: 100%;

    @include md-down {
      flex: 2;
      display: flex;
      align-items: flex-end;
      flex-grow: 3;
    }

    @include md {
      width: 50%;
      padding-right: 50px;
    }
  }

  &__slide-right {
    width: 100%;
    flex: 1;

    @include md-down {
      flex: 1;
      flex-grow: 2;
      flex-direction: column;
      display: flex;
    }

    @include md {
      width: 50%;
      padding-left: 100px;
    }
  }

  &__copy {
    flex: 1;
  }

  &__cta-wrap {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.5s ease 1s;

    @include md {
      margin-bottom: 25px;
    }
  }

  &__cta {
    color: $white;

    @include md-down {
      justify-self: flex-end;
    }
  }
}
