@mixin hamburger-color ($color) {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after,
  .hamburger-inner.is-active,
  .hamburger-inner.is-active::before,
  .hamburger-inner.is-active::after {
    background-color: $color !important;
  }
}

.header {
  position: fixed;
  width: 100%;
  background: $white;
  height: $header-height;
  z-index: $z-header;
  transition: all 0.2s;

  &__logo {
    a {
      display: block;
    }

    svg {
      max-height: 100px;
      width: auto;
      padding: 25px 0;
      min-height: $header-height - (25 * 2);
    }
  }

  &--scrolled {
    height: $header-height-scrolled;

    @include hamburger-color($black);
  }

  &--mobile-nav-open {
    @include hamburger-color($white);
  }

  &--scrolled &__desktop-nav {
    .menu-item.menu-item a {
      color: $black !important;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    height: 100%;

    div:nth-of-type(2) {
      margin-left: auto;
    }
  }

  &__widget-desktop {
    display: none;
    padding-left: 20px;

    @include lg {
      display: block;
    }
  }

  &__widget-mobile {
    position: relative;
    top: 5px;
  }

  &__desktop-nav {
    display: none;
    height: 100%;
    align-items: center;

    @include hamburger-color($black);

    @include lg {
      display: flex;
    }

    .menu,
    .sub-menu {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        position: relative;
        font-family: $font-primary;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        height: 100%;

        a {
          padding: 0 20px;
          text-decoration: none;
          color: $black !important;
        }
      }
    }
  }

  &--scrolled &__mobile-nav {
    body.admin-bar & {
      padding-top: 60px;
    }
  }

  &__mobile-nav {
    z-index: $z-mobile-menu;
    padding: 25px;
    $menu-size: calc(100vw - 68px);

    overflow: auto;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: $menu-size;
    height: 100vh;
    transform: translate3d($menu-size, 0, 0);
    background: $primary;
    transition: transform 0.2s;

    body.admin-bar & {
      padding-top: 71px;
    }

    &--open {
      transform: translate3d(0, 0, 0);
    }

    @include md {
      $menu-size: 500px;
    }

    @include lg {
      display: none;
      transition: none;
    }

    .menu,
    .sub-menu {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .menu {
      margin-top: 100px;
    }

    li {
      position: relative;
      font-family: $font-primary;
      font-size: 24px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      text-align: left;
      color: $white;

      a {
        display: block;
        padding: 12px 0;
        color: $white;
        text-decoration: none;

        &:hover {
          transition: color 0.15s;
          color: rgba($white, 0.9);
        }
      }
    }
  }

  &__menu-toggle {
    @include lg {
      display: none;
    }

    margin-left: auto;
    z-index: $z-mobile-menu-toggle;
  }
}

.hamburger {
  &:focus {
    outline: none;
  }
}

.hamburger-box {
  *,
  *::before,
  *::after {
    transition: all 0.3s !important;
  }
}
