
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  width: 100%;
  max-width: $page-inner-width;

  .page-header-hero + & {
    @extend .mt-3;
    @extend .mt-md-5;
  }
}

.container-full-width {
  max-width: 100%;
  width: 100%;

  &__half {
    width: 100%;
    max-width: $page-inner-width / 2;
  }

  &__content {
    width: 100%;
  }

  &--left {
    display: flex;
    margin-left: auto;
    align-items: center;
    height: 100%;
    padding: $page-gutter;
  }

  &--right {
    display: flex;
    margin-right: auto;
    align-items: center;
    height: 100%;
    padding: $page-gutter;
  }
}

.main {
  margin-top: $header-height;

  .header--top-only + & {
    margin-top: 40px;
  }

  .container-fluid {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }

  flex: 1;
  min-height: 50vh;

  & > *:last-child {
    margin-bottom: 0;
  }

  &.alignfull {
    max-width: 100%;
    padding: 0;
  }

  body.no-header & {
    margin-top: 0 !important;
  }
}

[id*=eventbrite-widget-container] {
  @extend .container-fluid;
}
