@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin xs-down {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin sm-down {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md-down {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg-down {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl-down {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin hero-height($mobile: 100vh, $desktop: 100vh) {
  height: calc(#{$mobile} - 90px - 46px);

  @include md {
    height: calc(#{$desktop} - 170px);
  }

  body.admin-bar & {
    @include md {
      height: calc(#{$desktop} - 170px - 46px);
    }

    @media screen and (min-width: 782px) {
      height: calc(#{$desktop} - 170px - 32px);
    }
  }
}

/**
* Hides content but keeps it visible to screen readers
*/
@mixin hide {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
